{% extends "base.html" %} {% block title%}{{super()}} - View Post{% endblock
%} {% block content%}

<h1>View Post</h1>
<p>________________________________________</p>
{% if error %}
<p class="error">{{error}}</p>
{% endif %}


<body>
    <h2>{{ profile.username }}</h2>
    <p>{{ profile.post }}</p>
    <p>________________________________________</p>
    <div>
        <form method="POST" action="{{url_for('add_comment', profileID=profile.id)}}">
          <input
            type="hidden"
            name="profileId"
            id="profileId"
            value="{{profile.id}}"
          />
        <input name="viewPost" type="hidden" value="soft" />
          <button type="submit">Add Comment</button>
        </form>
      </div>
      
        
      
</body>

{% endblock %}


  